Source: ros-hydro-scitos-apps
Section: misc
Priority: extra
Maintainer: Christian Dondrup <cdondrup@lincoln.ac.uk>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin
Homepage: http://github.com/strands-project/scitos_apps
Standards-Version: 3.9.2

Package: ros-hydro-scitos-apps
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-scitos-cmd-vel-mux, ros-hydro-scitos-dashboard, ros-hydro-scitos-docking, ros-hydro-scitos-ptu, ros-hydro-scitos-teleop, ros-hydro-scitos-touch
Description: The scitos_apps metapackage
